/*-----------------------------------------------------------
INDEX
------------------------------------------------------------*/
.actionicons{ width:20px; height:20px; }
@font-face {
    font-family: "brandon_grotesque_regularRg";
    font-style: normal;
    font-weight: normal;
    src: url("../font/brandon_reg.eot?#iefix") format("embedded-opentype"), url("../font/brandon_reg.woff2") format("woff2"), url("../font/brandon_reg.woff") format("woff"), url("font/brandon_reg.ttf") format("truetype"), url("font/brandon_reg.svg#brandon_grotesque_regularRg") format("svg");
	
}
@font-face {
    font-family: "Flaticon";
    font-style: normal;
    font-weight: normal;
    src: url("../font/flaticon.eot#iefix") format("embedded-opentype"), url("../font/flaticon.woff") format("woff"), url("../font/flaticon.ttf") format("truetype"), url("font/flaticon.svg") format("svg");
}
a:hover, a:focus, input:focus, *:hover, *:focus {
    outline: medium none !important;
    text-decoration: none !important;
    transition: all 0.4s ease 0s;
}
del:hover {
    text-decoration: line-through !important;
}
a {
    transition: all 0.4s ease 0s;
	color:#3c3c3c;
}
span{
	color:#3c3c3c;
}

p {
    font-size: 20px;
    line-height: 24px;
    color: #3c3c3c;
}
.wrapper {
    float: left;
    width: 100%;
	position:relative;
}
.wrapper:after{
    content: "";
    position: absolute;
    display: block;
    background: #e1e1e1;
    top: 0;
    left: 122px;
    width: 1px;
    height: 100%;
    z-index: -1;
}
header {
position: relative;

    z-index: 6;
    margin-bottom: 10px;
	
	}
header .navbar-default {
    background: #8A60AB none repeat scroll 0 0;
    height: 50px;
	border-radius:0px;
	margin-bottom: 0px;
	border:none;
}
header .navbar-brand {
	padding:5px;
	width:150px;
	height:40px;
	
}


header .navbar-nav {

}
header .navbar-nav li {

    vertical-align: middle;
}

header .navbar-nav li a {
    color: #fff!important;
}
header .navbar-nav li a:hover {
    color: #3c3c3c;
}

li a .profile_img {
padding:5px;
}
li a .profile_img img {
	width: 30px!important;
	height:30px!important;
	border: 1px solid #00bbf0;
    border-radius: 50%;
    transition: all 0.4s ease 0s;
		margin-top: -10px;
	
}
li a .profile_img:hover img {
    border: 1px solid #3c3c3c;
    transition: all 0.4s ease 0s;
}
li a .profile_img span {
    margin-left: 10px;
}
header li a.profile_img {
padding:5px;
}
header li a.profile_img img {
	width: 40px!important;
	height:40px!important;
	border: 1px solid #00bbf0;
    border-radius: 50%;
    transition: all 0.4s ease 0s;

	
}
header li a.profile_img:hover img {
    border: 1px solid #3c3c3c;
    transition: all 0.4s ease 0s;
}
header li a.profile_img span {
    margin-left: 10px;
}
header .navbar-nav li a.logout {
    font-size: 18px;
}
header .navbar-nav li a.logout::before {
    content: "";
    float: left;
    font-family: Flaticon;
    margin-right: 5px;

}
.toggle-menu {
    display: none;
}
.main_menu {
   position:relative!important;
   /* top: 49px!important;*/
    left: 0!important;
    padding-top: 0px;
    min-height: 100%;
    text-align: center;
    width: 122px;
	float:left;
   
}
.main_menu ul {
}
.main_menu ul li {
    display: table;
    float: left;
    height: 120px;
    position: relative;
    width: 100%;
}
.main_menu ul li a {
    background: rgba(0, 0, 0, 0) linear-gradient(270deg, rgba(227, 16, 109, 0) 0%, rgba(134, 1, 120, 0) 100%) repeat scroll 0 0;
    display: table-cell;
    vertical-align: middle;
}
.main_menu ul li:hover a, .main_menu ul li a.active {
    background: #8A60AB;
    transition: all 0.4s ease 0s;
}
.main_menu ul li:hover a::after, .main_menu ul li a.active::after {
    border-bottom: 5px solid transparent;
    border-left: 7px solid #8a60ab;
    border-top: 5px solid transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 5px;
    margin: auto;
    position: absolute;
    right: -7px;
    top: 0;
}
.main_menu ul li a i {
    display: inline-block;
    width: 100%;
}
.main_menu ul li a i::before {
    color: #3c3c3c;
    font-size: 34px;
    transition: all 0.6s ease 0s;
}
.main_menu ul li:hover a i::before, .main_menu ul li a.active i::before {
    color: #fff;
    font-size: 24px;
    transition: all 0.6s ease 0s;
}
.selectbox{ border: 1px solid #606060; height: 40px; padding: 5px 10px; width: 100%; }
.pie-charts-container{ text-align: center; }
.main_menu ul li a span {
    color: #fff;
    font-size: 0;
    transform: scale(0);
    transition: all 0.6s ease 0s;
    width: 100%;
}
.main_menu ul li:hover a span, .main_menu ul li a.active span {
    font-size: 25px;
    transform: scale(1);
    transition: all 0.6s ease 0s;
}

.content_wrapper{
	margin-left: 140px;
	position:relative;
	min-height:1200px;

}

.wallet_bal p{
	color:#3c3c3c;
}
.wallet_bal span{
	background: url(../images/wallet-icon.png) no-repeat;
	height: 51px;
	padding-left: 85px;
	font-size: 25px;
	color: #e3106d;
	font-weight: bold;
	line-height: 51px;
	margin-bottom: 15px;
}
.add_money{
	display:block;
}

.add_money_field, .add_money.open, .add_promo, .promo_code.open{
	display:none !important;
}
.add_money_field.open, .add_promo.open{
	display:block !important;
}


.add_send_money{
	display:block;
}
.add_send_money_field, .add_send_money.open, .add_promo, .promo_code.open{
	display:none !important;
}
.add_send_money_field.open, .add_promo.open{
	display:block !important;
}

.wallet_bal small.promo_code{
	float:left;
	width:100%;
	cursor:pointer;
	font-size:16px;
	display:block;
}
.add_promo.open{
	float:left;
	width:100%;
	margin-bottom: 5px;
}
.add_promo.open input[type="text"]{
	float: left;
	height: 52px;
	width: 40%;
	padding: 10px;
	border: none;
}

.dashboard{
	background-color:#fafafa!important;
	/*border:2px solid #00bbf0!important;*/

}
.dashboard label{
	font-size:16px;
}

.dashboard h3{
	margin:10px 0px;
	color:#e3106d;
	font-weight:bold;
}
.dashboard1 img{
	margin-right:15px;
}

.btn-default{
	background: #006363 !important;
	color:#fff!important;
	text-align:center;
	border:none!important;
}

.btn-primary{
	background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgba(7, 127, 240, 1) 0%, rgba(0, 187, 240, 1) 100%) repeat scroll 0 0!important;
	color:#fff!important;
	text-align:center;
	border:none!important;
}

.btn-default:hover {
    background: #218484 !important;
    color: #fff;
}

.btn-primary:hover, .btn-primary.active {
    background: rgba(0, 0, 0, 0) linear-gradient(270deg, rgba(134, 1, 120, 1) 0%, rgba(227, 16, 109, 1) 100%) repeat scroll 0 0!important;
    color: #fff;
}

input.form-control, textarea.form-control, select.form-control{
	border:thin solid #ccc;
	border-radius:0px;
}

.modal-header{
	background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgba(7, 127, 240, 1) 0%, rgba(0, 187, 240, 1) 100%) repeat scroll 0 0!important;
	color:#fff!important;
}



.gradient_btn, .gradient_btn.btn {
    background: rgba(0, 0, 0, 0) linear-gradient(270deg, rgba(227, 16, 109, 1) 0%, rgba(134, 1, 120, 1) 100%) repeat scroll 0 0;
    border: medium none !important;
    border-radius: 8px;
    color: #fff;
    float: left;
    font-size: 20px;
    height: 52px;
    line-height: 52px;
    margin-top: 30px;
    padding: 0 50px;
}
.gradient_btn:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(270deg, rgba(134, 1, 120, 1) 0%, rgba(227, 16, 109, 1) 100%) repeat scroll 0 0;
    color: #fff;
}
.gradient_btn2 {
    background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgba(7, 127, 240, 1) 0%, rgba(0, 187, 240, 1) 100%) repeat scroll 0 0;

    color: #fff;

    height: 40px;
    margin-bottom: 30px;
    padding: 0 30px;
}
.gradient_btn2:hover, .gradient_btn2.active {
    background: rgba(0, 0, 0, 0) linear-gradient(270deg, rgba(134, 1, 120, 1) 0%, rgba(227, 16, 109, 1) 100%) repeat scroll 0 0;
    color: #fff;
}

form-control{
	 background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgba(7, 127, 240, 1) 0%, rgba(0, 187, 240, 1) 100%) repeat scroll 0 0;
	 color:#fff;
}
.wallet_bal {
    float: left;
    margin-top: 5px;
    width: 100%;
}
.wallet_bal p {
    color: #e3106d;
    font-weight: bold;
}
.wallet_bal .gradient_btn {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
    padding: 0 30px;
}
.wallet_bal .gradient_btn::before {
    background: rgba(0, 0, 0, 0) url("../images/price_icon.png") no-repeat scroll 0 center;
    content: "";
    display: block;
    float: left;
    height: 100%;
    margin-right: 10px;
    width: 12px;
}
.wallet_bal span {
    color: #bcbcbc;
    float: left;
    font-size: 16px;
    width: 100%;
}
.dashboard3 p {
    float: left;
    line-height: 32px;
    margin-bottom: 5px;
    width: 80%;
}
.dashboard1 p {
    line-height: 32px;
    margin-bottom: 5px;
}
.dashboard3 p.price {
    float: right;
    width: auto;
}
.dashboard3 p span {
    float: left;
    font-size: 16px;
    width: 100%;
}
.dashboard2 .col-md-4 {
    text-align: center;
}
.dashboard2 .col-md-4 span {
    font-size: 16px;
}
.dashboard2 ul {
    float: left;
    text-align: center;
}
.dashboard2 ul li {
    float: left;
    margin-right: 90px;
}
.dashboard2 ul li:last-child {
    margin-right: 0;
}
.dashboard2 ul li p {
    margin-bottom: 0;
    margin-top: 10px;
}
footer {
    background-color: #e1e1e1;
    float: left;
    padding: 32px;
    text-align: center;
    width: 100%;
}
footer p {
    color: #8f8f8f;
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 25px;
}
.modal-open {
    padding: 0 !important;
}
.modal {
    background-color: rgba(255, 255, 255, 0.6);
}

/*.modal .modal-header {
    border: medium none;

}
.modal-content form h2 {
}


.modal-content form label {
    float: left;
    font-size: 20px;
    font-weight: normal;
    width: 100%;
}
.modal-content form input[type="text"], .modal-content form textarea {
    border: 1px solid #606060;
    height: 40px;
    padding: 5px 10px;
    width: 100%;
}
.modal-footer{
	text-align:center!important;
}*/
body {
    font-family: "brandon_grotesque_regularRg",Arial,Helvetica,sans-serif!important;
} 
[class^="flaticon-"]::before, [class*=" flaticon-"]::before, [class^="flaticon-"]::after, [class*=" flaticon-"]::after {
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
}
.flaticon-arrow95::before {
    content: "";
}
.flaticon-buy11::before {
    content: "";
}
.flaticon-chat81::before {
    content: "";
}
.flaticon-gear74::before {
    content: "";
}
.flaticon-house28::before {
    content: "";
}
.flaticon-inbox18::before {
    content: "";
}
.flaticon-logout13::before {
    content: "";
}
.flaticon-magnifier13::before {
    content: "";
}
.flaticon-multiple25::before {
    content: "";
}
.flaticon-progress::before {
    content: "";
}
.flaticon-users149::before {
    content: "";
}
/*-----------------------------------------------------------
PROFILE
------------------------------------------------------------*/
.profile-btn li a {
    /*height: 50px;*/
    margin-right: 20px;
    padding: 10px 25px;
    text-align: center;
}
.profile-details ul {
}
.profile-details li {
   /* margin-bottom: 30px;*/
}
.profile-details li:last-child {
    margin-bottom: 0;
}
.profile-details li span:first-child {
    float: left;
    min-width: 230px;
}
.profile-details p{
	line-height: 20px;
    margin: 0;
}
.profile-details li span:first-child::after {
    color: #8c8c8c;
    content: "-";
    display: inline-block;
    float: right;
    font-family: "FontAwesome";
    font-size: 18px;
    margin-right: 40px;
}
.profile-details input.in-btn1 {
	background: #f4f4f4 none repeat scroll 0 0;
    border: 1px solid #e1e1e1;
    width: 226px;
    height: 30px;
    padding: 5px 10px;
    font-size: 16px;
}
.profile-details input.upload-file {
    font-size: 13px;
}
.submit1 .gradient_btn {
    margin-left: 230px;
}
.service-Pre-Paid {
    float: left;
    margin-bottom: 50px;
    width: 100%;
}
.mobile-1 p {
    background: #8A60AB none repeat scroll 0 0;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 13px;
}
.show1 span {
    margin-left: 5px;
    margin-right: 5px;
	color: #3c3c3c;
}
.show1 select {
    background: #f4f4f4 none repeat scroll 0 0;
    border: 1px solid #3c3c3c;
    text-align: center;
    width: 44px;
}
.show1 select::after {
    color: #949494;
    content: "";
    font-family: "FontAwesome";
    font-size: 20px;
}
.search1 input[type="text"]{
    background: #f4f4f4 none repeat scroll 0 0;
    border: 1px solid #3c3c3c;
    float: right;
    padding: 4px 35px 4px 10px;
    position: relative;
    width: 200px;
}
.search1 button{
    background-color: transparent;
    border: none;
    position: absolute;
    right: 16px;
    top: 0;
    line-height: 32px;
}
.search1 button:after{
	content: "\e007";
    display: inline-block;
	background-color:transparent;
	border:none;
	font-family: Flaticon;
}
/*.search1::after {
    color: #333;
    content: "\e007";
    display: inline-block;
    float: right;
    font-family: Flaticon;
    font-size: 17px;
    font-style: normal;
    position: absolute;
    right: 25px;
    top: 5px;
}*/
.table-responsive {
    margin-top: 20px;
}
.table-responsive .air-table1 .table-title {
    background: #8A60AB none repeat scroll 0 0;
    color: #fff;
    font-weight: normal;
}
.table-responsive .air-table1 .table-title th {
    font-weight: normal;
}
.table-responsive .air-table1 tr td {
    border-top: medium none;
    color: #3c3c3c;
   /* padding: 10px 20px;*/
    vertical-align: middle;
}
.table-responsive .air-table1 tr td.air-img {
    font-size: 0;
}
.table-responsive .air-table1 tr td.air-img::after {
    background: rgba(0, 0, 0, 0) url("../images/airtel.png") no-repeat scroll 0 0;
    content: "";
    display: inline-block;
    float: left;
    font-size: 0;
    height: 43px;
    width: 43px;
}
.table-responsive .air-table1 tr:nth-child(2), .table-responsive .air-table1 tr:nth-child(4), .table-responsive .air-table1 tr:nth-child(6) {
    background: #fff none repeat scroll 0 0;
}
select {
    background: #f4f4f4 none repeat scroll 0 0;
    font-size: 16px !important;
}
.profile-details select {
    border: 1px solid #e1e1e1;

}
input[type="checkbox"] {
    margin: 0 5px !important;
}
.profile-details input.famale {
    margin-left: 20px !important;
}
.table-responsive .air-table2 tr td {
    /*padding: 20px;*/
}
.table-responsive .air-table2 tr td.active1 {
     background: #e1106d none repeat scroll 0 0;
    border: medium none;
    border-radius: 25px;
    color: #fff;
    float: left;
    font-size: 15px;
    height: 22px;
    margin-top: 20px;
   /* padding: 0 0 0 10px;*/
    width: 70px;
}
.table-responsive .air-table2 tr td.active1::before {
    background: rgba(0, 0, 0, 0) url("../images/check.png") no-repeat scroll 0 0;
    content: "";
    display: inline-block;
    font-size: 0;
    height: 10px;
    margin-right: 4px;
    width: 10px;
}
.table-responsive .air-table2 tr td a {
    margin-right: 15px;
}
.table-responsive .air-table2 tr td a:last-child {
    margin-right: 0;
}
input[type="radio"], input[type="checkbox"] {
    margin: 0px 5px 0px;
}
.table-responsive .service tr:nth-child(3), .table-responsive .service tr:nth-child(5){
	background:#fff;
}
.table-responsive .service tr{
	border-bottom:1px solid #f4f4f4;
}
.table-responsive .service input{
    border: 1px solid #e1e1e1;
    padding: 0px 15px;
}
.admin-page2 .report a {
	margin-right: 10px;
    padding: 10px 22px;
}
/*-----------------------------------------------------------
SMS CSS
------------------------------------------------------------*/

.from-date {
	text-align: center;
}
.from-date ul{
	display:inline-block;
}
.from-date li {
    float: left;
    margin-right: 25px;
}
.from-date li:last-child{
	margin-right: 0px;
}
.from-date li span{
	margin-right: 10px;
    color: #3c3c3c;
    font-size: 16px;
}
.from-date li input{
	border: 1px solid #3c3c3c;
    width: 185px;
    height: 30px;
}
.from-date li input.in-btn2{
	background:#f4f4f4;
}
.from-date .date-submit{
    margin-right: 0;
}
.from-date .date-submit input{
    width: 120px;
    height: 35px;
    border: none;
}
.from-date .date-submit .gradient_btn{
	line-height: 30px;
    margin-top: 0;
    padding: 0;
	margin-bottom: 20px;
}
/*-----------------------------------------------------------
Radio box
------------------------------------------------------------*/
input[type=radio].css-checkbox {
	position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=radio].css-checkbox + label.css-label {
	padding-left:24px;
	height:15px; 
	display:inline-block;
	line-height:19px;
	background-repeat:no-repeat;
	background-position: 0 0;
	vertical-align:middle;
	cursor:pointer;
	font-weight:normal;
	transition: all .3s ease;

}
input[type=radio].css-checkbox + label.css-label:hover{
	color:#00bbf0;
}

input[type=radio].css-checkbox:checked + label.css-label {
	background-position: 0 -16px;
	color:#00bbf0;
}
label.css-label {
	background-image: url(../images/radio.png);
	background-repeat:no-repeat;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.service input[type=radio].css-checkbox + label.css-label{
	padding-left: 20px;
    line-height: 15px;
}
.service input[type=radio].css-checkbox + label.css-label{
}
/*-----------------------------------------------------------
SEND MONEY LOGIN
------------------------------------------------------------*/
.send_money_login{
	float:left;
	width:100%;
}
.send_money_login .accordion.gradient_btn2{
	clear: both;
    width: 200px;
    line-height: 52px;
    text-align: center;
    height: 52px;
    margin-bottom: 10px;
}
.send_money_login .content{
	float:left;
	width:100%;
	margin-top:25px;
}
.send_money_login .content .submit1 input[type="submit"]{
    margin-top: 0;
    margin-right: 10px;
    height: 52px;
}
/*-----------------------------------------------------------
OTP popup
------------------------------------------------------------*/
.admin-otp .col-sm-5{
	background:#00BBF0;
	padding:50px;
	text-align:center;
}
.admin-otp .col-sm-5 span{
	position: relative;
    background: #fff;
    height: 125px;
    width: 125px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 25px;
}
.admin-otp .col-sm-5 span img{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
}
.admin-otp .col-sm-5 h2{
	color:#fff;
}
.admin-otp .col-sm-5 ul{
	text-align: left;
    list-style: disc;
    padding-left: 12%;
}
.admin-otp .col-sm-5 ul li{
	color: #fff;
    font-size: 20px;
    margin-bottom: 15px;
}
.admin-otp .col-sm-7{
	padding:50px;
}
.admin-otp .col-sm-7 p{
	margin-bottom:25px;
}
.admin-otp .col-sm-7 form input[type="password"]{
	float: left;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #00BBF0;
    height: 50px;
    padding: 0 10px;
	margin-bottom:25px;
}
.admin-otp .col-sm-7 form span{
	float:left;
	clear:both;
	color:#9E9E9E;
	margin-right:30px;
	line-height:52px;
}
.admin-otp .col-sm-7 form input[type="submit"]{
	margin-top:0;
	float:right;
}
.admin-otp .col-sm-7 .trouble_login{
	float:left;
	width:100%;
	text-align:center;
	margin-top:50px;
	font-size:18px;
	font-style:italic;
}
.admin-otp .col-sm-7 .trouble_login a{
	margin-left:10px;
	color:#00BBF0;
}


/*-----------------------------------------------------------
MEDIA
------------------------------------------------------------*/
@media screen and (max-width: 1375px) {

.dashboard3 p {
    font-size: 18px;
}
.air-table2 .tab-img{
	min-width:200px;
}
.table-responsive .air-table2 tr td.active1 {
    margin-top: 30px;
}
.profile-btn li a {
    margin-right: 9px;
}

}
@media screen and (max-width: 1200px) {
.dashboard2 p {
    font-size: 18px;
}
.admin-otp .col-sm-5{
	padding: 30px 15px;
}
.admin-otp .col-sm-5 ul {
    padding-left: 22px;
}
}
@media screen and (max-width: 991px) {

header ul li p {
    font-size: 12px;
    margin-right: 10px;
}
header ul li a.profile_img {
    font-size: 20px;
    margin-right: 10px;
}
header ul li a.logout {
    font-size: 16px;
}
.dashboard3 p {
    font-size: 20px;
    width: 100%;
}
.dashboard3 p.price {
    float: left;
}
.dashboard2 .col-md-4 {
    margin-bottom: 30px;
}
.dashboard2 ul li {
    margin-right: 35px;
}
/*-----------------------------------------------------------
SMS CSS
------------------------------------------------------------*/
.from-date li input {
    width: 100px;
}
/*-----------------------------------------------------------
SEND MONEY LOGIN
------------------------------------------------------------*/
.send_money_login .content .submit1 .gradient_btn{
	    margin-left: 180px;
}
.send_money_login .content span,.send_money_login .content span:first-child{
    min-width: 180px;
}
.admin-otp .col-sm-7 {
    padding: 30px 15px;
}
.admin-otp .col-sm-7 form span{
	font-size:14px;
}
}
@media screen and (max-width: 830px) {

	.profile-btn li a {
		margin-right: 6px; 
	}
}
@media screen and (max-width: 767px) {

header .navbar-brand img {
width:100%;

}

.content_wrapper{
	margin-left: 0px;

}



/*-----------------------------------------------------------
SEND MONEY LOGIN
------------------------------------------------------------*/
.send_money_login .content .submit1 input[type="submit"]{
	    margin-left: 180px;
		margin-bottom:10px;
}
/*-----------------------------------------------------------
PROFILE CSS
------------------------------------------------------------*/
.profile-details li span:first-child {
    min-width: 190px;
}
.profile-details li span:first-child::after {
    margin-right: 20px;
}
.profile-details li p {
    font-size: 18px !important;
}
.submit1 .gradient_btn {
    margin-left: 180px;
}
.profile-details input.in-btn1 {
    width: 170px;
}

.profile-details select {
    border: 1px solid #e1e1e1;
    width: 170px;
}

.gradient_btn2 {
    margin-bottom: 20px;
}
/*-----------------------------------------------------------
SMS CSS
------------------------------------------------------------*/
.from-date li {
    margin-right: 8px;
}
.from-date li span {
    font-size: 16px;
}
.from-date li.date-submit input{
	width: 80px;
    height: 30px;
    padding: 2px;
	font-size:18px;
}
.profile-details li:last-child{
	
}
.resp-tab-content input[type="submit"]{
	margin-bottom:20px;
}
}
@media screen and (max-width: 640px) {
.profile-details li span:first-child {
    min-width: 170px;
}
/*-----------------------------------------------------------
SMS CSS
------------------------------------------------------------*/
.from-date li {
  float: none;
   margin-bottom: 15px; 
}
.from-date li input {
    width: 150px;
    float: right;
}
}

@media screen and (max-width: 567px) {
	.wrapper:after{
		display:none;
	}
/*-----------------------------------------------------------
SEND MONEY LOGIN
------------------------------------------------------------*/
	.send_money_login .content span:first-child:after{
		display:none;
	}
	.send_money_login .content span{
		margin-bottom:10px;
	}
	.send_money_login .content input[type="text"]{
		width:100%;
	}
	.send_money_login .content .submit1 input[type="submit"]{
		margin-left:0;
	}
	


.main_menu ul li:hover a::after, .main_menu ul li a.active::after{
	display:none;
}
.main_menu{
	width:132px;
}
.toggle-menu {
    display:inline-block;
}
.cbp-spmenu-left {
    left: -150px !important;
}
.cbp-spmenu-left.menu-open {
    left: 0 !important;
}
.cbp-spmenu {
    background: transparent none repeat scroll 0 0;
    height: 100% !important;
    overflow-y: scroll;
    position: fixed !important;
}
.main_menu ul {
    background: #f4f4f4 none repeat scroll 0 0;
    float: left;
    width: 115px;
}
.cd-overlay.is-visible {
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    height: 100%;
    position: fixed;
    transition: all 0.4s ease 0s;
    width: 100%;
    z-index: 99;
}
.cbp-spmenu {
}
.cbp-spmenu {
}
.gradient_btn1 {
	background-color:transparent;
	
    border: medium none;
    /* border-radius: 8px; */
    color: #fff;
    /* float: left; */
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
	display:inline-block;
}
.gradient_btn1:hover {
    /*background: rgba(0, 0, 0, 0) linear-gradient(270deg, rgba(7, 127, 240, 1) 0%, rgba(0, 187, 240, 1) 100%) repeat scroll 0 0;*/
}
.main_menu ul li:hover a span, .main_menu ul li a.active span {
    font-size: 16px;
}

.dashboard, .dashboard1, .dashboard2, .dashboard3 {
    margin-bottom: 30px;
}
h2, .h2 {
    margin-bottom: 15px !important;
}
.dashboard2 ul li {
    margin-right: 25px;
}
.gradient_btn {
    margin-top: 20px;
}
.profile-details li span:first-child {
    min-width: 200px;
}
.profile-details li span:first-child:after {
}

}

@media screen and (max-width: 413px) {
.gradient_btn {
    font-size: 16px;
    padding: 0 30px;
}
h2, .h2 {
    font-size: 20px !important;
}
.dashboard2 ul li {
    clear: both;
    margin-bottom: 15px;
    margin-right: 0;
    width: 60%;
}
.dashboard2 .col-xs-3 {
}
.dashboard2 .col-xs-3 {
    margin-bottom: 12px;
    width: 100%;
}
.dashboard2 .col-xs-3 p {
    margin-bottom: 5px;
}
/*-----------------------------------------------------------
PROFILE
------------------------------------------------------------*/
.profile-details li span:first-child {
    margin-bottom: 5px;
    width: 100%;
}
.profile-details li {
    /*margin-bottom: 30px;*/
}
.profile-details li p {
    font-size: 20px !important;
}
.profile-details li span:first-child::after {
    display: none;
}
.submit1 .gradient_btn {
    margin-left: 0;
}
.show1 {
	float:left !important;
	width:100% !important; 
}
.search1{
	width:auto;
	margin-top:20px;
}
.search1 input[type="text"]{
	float: left;
	width:100%;
}
.search1::after {
    left: 187px;
    top: 25px;
}
.profile-btn li{
	float:left;
	width:100%;
}
.resp-tab-content input[type="text"], .resp-tab-content select{
	width:100% !important;
}

}



.success .panel-body{
	border-radius: 20px 20px 0px 0px!important;
	padding: 20px;
	border: 2px solid #5bcbf5!important;
	border-bottom: 0px!important;
}

.success .panel-footer {
	background-image: url(http://paybuks.com/images/panel-bottom-border.png);
	background-repeat: repeat-x;
	background-position: center 100%;
	border: 0px;
	}
	


	
.success hr{
		border-top: 1px solid #5bcbf5!important;
	}
.success .page-header{
	border-bottom: 3px solid #5bcbf5!important;
	margin-top:10px;
}


.failure .panel-body{
	border-radius: 20px 20px 0px 0px!important;
	padding: 20px;
	border: 2px solid #ea5858!important;
	border-bottom: 0px!important;
}

.failure .panel-footer {
	background-image: url(http://paybuks.com/images/failure-panel-bottom-border.png);
	background-repeat: repeat-x;
	background-position: center 100%;
	border: 0px;
	}
	
	.failure hr{
		border-top: 1px solid #ea5858!important;
	}
.failure .page-header{
	border-bottom: 3px solid #ea5858!important;
		margin-top:10px;
}

.pending .panel-body{
	border-radius: 20px 20px 0px 0px!important;
	padding: 20px;
	border: 2px solid #ffb234!important;
	border-bottom: 0px!important;
}

.pending .panel-footer {
	background-image: url(http://paybuks.com/images/pending-panel-bottom-border.png);
	background-repeat: repeat-x;
	background-position: center 100%;
	border: 0px;
	}
	
	.pending hr{
		border-top: 1px solid #ffb234!important;
	}
.pending .page-header{
	border-bottom: 3px solid #ffb234!important;
		margin-top:10px;
}